.find-form {
  width: 312px;
  height: 524px;

  overflow: auto;

  border-radius: 15px;

  border: 1px solid #cacae4;

  padding: 23px 16px 50px 36px;

  background-color: rgba(0, 0, 0, 0.88);
}

.content-container {
  margin: 27px 0px 0px 24px;

  /**
   * Make large enough to help avoid unwanted vertical scrollbar movement
   * when motifs / complements are found and unfound.
   */
  min-height: 2200px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}
