.find-form {
  width: 316px;
  height: 532px;

  overflow: auto;

  border-radius: 15px;

  border: 1px solid #cacae4;

  padding: 23px 16px 51px 36px;

  background-color: rgba(0, 0, 0, 0.88);
}

.content-container {
  margin: 26px 0px 0px 25px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}
