.hits-list {
  margin-top: 29px;

  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 9px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.num-hits-p {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.header-buttons-container {
  margin-left: 110px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.next-button {
  margin-right: 9px;

  transform: rotate(90deg);

  padding: 3px 5px;
  border-radius: 2px;

  pointer-events: auto;

  cursor: pointer;
}

.next-button:hover {
  background-color: #46464f;
}

.next-button:active {
  background-color: #676776;
}

.previous-button {
  transform: rotate(270deg);

  padding: 3px 5px;
  border-radius: 2px;

  pointer-events: auto;

  cursor: pointer;
}

.previous-button:hover {
  background-color: #46464f;
}

.previous-button:active {
  background-color: #676776;
}

.rows-container {
  margin: 8px 0px 0px 8px;

  display: flex;
  flex-direction: column;
}
